<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link href="../css/style1.css" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-3.6.0.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="desDiv">
    <span>服务反馈</span><br />
    对于客户提出的咨询、建议、投诉等服务进行处理完毕后，记录客户对服务的结果的满意度等
</div>
    <form action="likeService" method="get">
    <table class="tableEdit">
        <tr>
            <th>
                客户名称：
			</th>
            <td>
                <input type="text" name="svrCustName"/>
            </td>
            <th>
                概要：
            </th>
            <td>
                <input type="text" name="svrTitle" />
            </td>
            <th>
                服务类型：
            </th>
            <td>
                <select name="svrType" >
                    <option value="" selected="selected">全部</option>
                    <option value="咨询" >咨询</option>
                    <option value="投诉" >投诉</option>
                    <option value="建议" >建议</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                创建日期：
            </th>
            <td colspan="3">
                <input type="date" name="createDate1" value=""/>&nbsp;-&nbsp;<input type="date" name="createDate2" value=""/>
            </td>
            <th>
                状态：
            </th>
            <td>
                <select name="svrStatus">
                    <option value="" >全部</option>
                    <option value="新创建" >新创建</option>
                    <option value="已分配" >已分配</option>
                    <option value="已处理" selected="selected">已处理</option>
                    <option value="已反馈" >已反馈</option>
                    <option value="已归档" >已归档</option>
                </select>
            </td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="8">
                	<input type="text" name="a" value='3' style="display:none;"/>
                    <input type="submit" value="查询" />
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
<div id="dataDiv">
    <div id="headDiv">
    </div>
    <table class="dataTable">
        <tr>
            <th>客户名称</th>
            <th>概要</th>
            <th>服务类型</th>
            <th>创建时间</th>
            <th>分配人</th>
            <th>分配时间</th>
            <th>处理</th>
        </tr>
        <tr th:each="svr:${pageInfo.list}">
            <td>[[${svr.svrCustName}]]</td>
            <td>[[${svr.svrTitle}]]</td>
            <td>[[${svr.svrType}]]</td>
            <td>[[${#dates.format(svr.svrCreateDate,"yyyy年MM月dd日")}]]</td>
            <td>[[${svr.svrDueTo}]]</td>
            <td>[[${#dates.format(svr.svrDueDate,"yyyy年MM月dd日")}]]</td>
            <td><a th:href="'findServiceBySvrId?svrId='+${svr.svrId}+'&num=3'"><img src="../images/bt_feedback.gif" style="border:0px" /></a></td>
        </tr>
    </table>
    <div id="pageDiv">
        <div id="leftPage">共有[[${pageInfo.total}]]条记录，当前第[[${pageInfo.pageNum}]]/[[${pageInfo.pages}]]页</div>
        <div id="rightPage">
            <input type="image" src="../images/first.gif" onclick="First()" />&nbsp;&nbsp;
            <input type="image" src="../images/back.gif"  onclick="Pre()"/>&nbsp;&nbsp;
            <input type="image" src="../images/next.gif"  onclick="Next()"/>&nbsp;&nbsp;
            <input type="image" src="../images/last.gif"  onclick="Last()"/>&nbsp;&nbsp;
            转到第<input id="pageNow" type="text" size="1" />&nbsp;&nbsp;
            <input type="image" src="../images/go.gif" onclick="Page()"/>
        </div>
        <script type="text/javascript">
    		function First(){
    			location.href = "cstService?pageNow=1&a=3";
    		}
    		function Pre(){
    			location.href = "cstService?a=3&pageNow="+[[${pageInfo.isFirstPage?1:pageInfo.PrePage}]];
    		}
    		function Next(){
    			location.href = "cstService?a=3&pageNow="+[[${pageInfo.isLastPage?pageInfo.pages:pageInfo.NextPage}]];
    		}
    		function Last(){
    			location.href = "cstService?a=3&pageNow="+[[${pageInfo.pages}]];
    		}
    		function Page(){
    			location.href = "cstService?a=3&pageNow="+$("#pageNow").val();
    		}
    	</script>
    </div>
</div>
</body>
</html>
