<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../css/style1.css" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-3.6.0.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="desDiv">
        <span>数据字典管理</span><br />
        管理系统所需的数据字典内容
    </div>
    <form action="findDictLike" method="post">
    <table class="tableEdit">
        <tr>
            <th>
                类别：
            </th>
            <td>
                <input type="text" name="dictType" />
            </td>
            <th>
                条目：
            </th>
            <td>
                <input type="text" name="dictItem" />
            </td>
            <th>
                值：
            </th>
            <td>
                <input type="text" name="dictValue" />
            </td>
        </tr>
        <tfoot>
            <tr>
                <td colspan="8">
                    <input type="submit" value="查询" />
                </td>
            </tr>
        </tfoot>
    </table>
    </form>
    <div id="dataDiv">
        <div id="headDiv">
            <img src="../images/22.gif" />&nbsp;&nbsp;<a href="/MyCRM/manager/dataAdd.html">新建</a>
        </div>
        <table class="dataTable">
            <tr>
                <th>类别</th>
                <th>条目</th>
                <th>值</th>
                <th>是否可编辑</th>
                <th>操作</th>
            </tr>
            <tr th:each="dict:${dicts}">
                <td>[[${dict.dictType}]]</td>
                <td>[[${dict.dictItem}]]</td>
                <td>[[${dict.dictValue}]]</td>
                <td>
                	<span th:if="${dict.dictIsEditable} eq 0">否</span>
                	<span th:if="${dict.dictIsEditable} eq 1">是</span>
                </td>
                <td th:if="${dict.dictIsEditable} eq 0"></td>
                <td th:if="${dict.dictIsEditable} eq 1">
                    <a th:href="'findDictById?dictId='+${dict.dictId}"><img src="../images/33.gif" title="编辑" style="border:0px" /></a>
                    <img src="../images/bt_del.gif" title="删除" th:name="${dict.dictId}" style="border:0px" />
                </td>
            </tr>
        </table>
        <script type="text/javascript">
		   	$("img[title='删除']").click(function(){
		  		$.ajax({
		  	    	url:"deleteDict",
		  	    	tyle:"GET",
		  	    	data:"dictId="+$(this).attr("name"), 
		  	    	success:function(msg){
		  	    		if(msg>0){
		  	      			alert("删除成功！");
		  	      			location.href="findDict";
		  	     		}else{
		  	     			alert("删除失败！");
		  	      			location.href="findDict";
		  	     		}
		  	    	}
				})
			})
    	</script>
    </div>
</body>
</html>
