<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link href="../css/style1.css" rel="stylesheet" type="text/css" />
    <link href="../css/style2.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-3.6.0.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="desDiv">
    <span>客户交往记录</span><br />
    记录与客户之间的交往信息
</div>
    <table class="tableEdit">
        <tr>
            <th>
                客户编号：
            </th>
            <td>
                [[${list.get(0).atvCustNo}]]
            </td>
            <th>
                客户名称：
            </th>
            <td>
                [[${list.get(0).atvCustName}]]
                <input type="text" name="atvCustNo" id="atvCustNo" style="display:none;" th:value="${list.get(0).atvCustNo}"/>
            </td>
        </tr>
    </table>
 <div id="dataDiv">
    <div id="headDiv">
        <img src="../images/22.gif" />&nbsp;&nbsp;<a th:href="'findCustANoName?atvCustNo='+${list.get(0).atvCustNo}+'&atvCustName='+${list.get(0).atvCustName}">新建</a>
    </div>
    <table class="dataTable">
        <tr>
            <th>
                时间
            </th>
            <th>
                地点
            </th>
            <th>
                概要
            </th>
            <th>
                详细信息
            </th>
            <th>备注</th>
            <th>
                操作
            </th>
        </tr>
        <tr th:each="atv:${list}">
            <td>
                [[${#dates.format(atv.atvDate,"yyyy年MM月dd日")}]]
            </td>
            <td>
                [[${atv.atvPlace}]]
            </td>
            <td>
                [[${atv.atvTitle}]]
            </td>
            <td>
                [[${atv.atvDesc}]]
            </td>
            <td>
                
            </td>
            <td>
            	<a th:href="'findAtvById?atvId='+${atv.atvId}"><img title="编辑" src="../images/33.gif" style="border:0px"/></a>&nbsp;
                <img title="删除" th:name="${atv.atvId}" src="../images/11.gif" />
            </td>
        </tr>
    </table>
 </div>
 	<script type="text/javascript">
    	$("img[title='删除']").click(function(){
    		$.ajax({
	  	    	url:"deleteAtv",
	  	    	tyle:"GET",
	  	    	data:"atvId="+$(this).attr("name"),
		  		success:function(msg){
		  			if(msg>0){ 
	  	    			alert("删除成功！");
	  	    			location.href="findAtvByNo?custNo="+$('#atvCustNo').val();
	  	    		}else{
	  	    			alert("删除失败！");
	  	    			location.href="findAtvByNo?custNo="+$('#atvCustNo').val();
	  	    		}
			    }
			})	
    	})
    </script>
</body>
</html>
